//Color Names
$very-light-gray: #fafbfc;
$white: #ffffff;
$gray: #aeaeae; // #a7a7a7
$dark-blue: #484689;
$dark-gray: #424242;
$black: #000000;
$light-gray: #cecece; // e2e4e8, eae9f1

//Fonts
$main-font: 'Noto Sans JP', sans-serif;
$main-font-size: 13px;

//breakpoint
$tab-point: 950px;
$mob-point: 500px;