.transaction-table {
  width: 90%;
  padding: 30px;
  margin: 10px auto;
  border-collapse: collapse;
  color: $gray;


  th,
  td {
    padding: .625em;
    text-align: left;
  }

  th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: $tab-point) {
  .transaction-table {
    border: 0;

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .725em;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }

    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    td:last-child {
      border-bottom: 0;
    }
  }
}